---
import { Image } from "astro:assets";
import Card from "./Card.astro";

const featuresData = [
  {
    title: "Men Haircut",
    image: "/images/mencut.jpg",
    body: "Per Head, Per Month",
    body1: "Shaving 4x",
    body2: "Shaving Beards 4x",
    body3: "Barbing 2x",
    body4: "Washing 2x",
    price: "$59",
  },
  {
    title: "Women Cut",
    image: "/images/multipleladiescut.jpg",
    body: "Per Head, Per Month",
    body1: "Styling 4x",
    body2: "Cutting 1x",
    body3: "Trimmimg 2x",
    body4: "Washing 2x",
    price: "$64",
  },
  {
    title: "Weaving/Braiding",
    image: "/images/weaving.jpg",
    body: "Per Head, Per Month",
    body1: "Weaving 1x",
    body2: "Breading 1x",
    body3: "Fixing 1x",
    body4: "Washing 2x",
    price: "$79",
  },
  {
    title: "Family Service",
    image: "/images/singleladiescolor.jpg",
    body: "Two Adults and Two Kids",
    body1: "Weaving/Breading",
    body2: "Shaving/Cutting",
    body3: "Washing",
    body4: "Fixing",
    price: "$199",
  },
];
---

<section class="features">
  <div class="price">
    <h2 class="amazing">Amazing</h2>
    <h2 class="price-heading">Pricing Plan</h2>
  </div>
  <div class="container">
    {
      featuresData.map((feature) => (
        <Card>
          <div class="div-img">
            <img src={feature.image} alt={feature.title} class="price-img" />
          </div>
          <div class="price-tag">
            <>
              <div class="price-title">
                <h3>{feature.title}</h3>
              </div>
              <div class="circle">{feature.price}</div>
              <h4>{feature.body}</h4>
              <p class="price-list">{feature.body1}</p>
              <p class="price-list">{feature.body2}</p>
              <p class="price-list">{feature.body3}</p>
              <p class="price-list">{feature.body4}</p>
            </>
            <button class="btn subscribe-btn">Subscribe</button>
          </div>
        </Card>
      ))
    }
  </div>
</section>
<style>
  .features {
    background-color: #ae8e6f30;
    padding-bottom: 50px;
  }

  .features .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
    margin: 30px auto;
  }

  .price {
    text-align: center;
    margin: 70px 0;
    padding-top: 50px;
  }

  .amazing {
    font-family: "Herr Von Muellerhoff", cursive;
    font-size: 70px;
    letter-spacing: 8px;
    font-weight: lighter;
    color: var(--color-secondary);
  }

  .price-heading {
    letter-spacing: 8px;
  }

  .div-img {
    height: 150px;
  }

  .price-img {
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
  }

  .price-tag {
    text-align: center;
    position: relative;
    bottom: 110px;
  }

  .price-title {
    color: #f6f6f6;
  }

  .circle {
    width: 120px;
    height: 120px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 800;
    color: #f6f6f6;
    border: 4px solid #f6f6f6;
  }

  .price-list {
    border-bottom: 1px solid #e2e2e2;
    color: #6a6a6a;
    padding: 8px 0;
  }

  .subscribe-btn {
    margin-top: 25px;
  }

  @media (max-width: 800px) {
    .features .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 500px) {
    .features .container {
      grid-template-columns: 1fr;
    }
  }
</style>
